page-sections-page {
    .main-content {

        ion-card {
            margin-top:15px;
            width: 95%;
            margin-left: 2.5%;
        }
    }
    .card-title {
        position: absolute;
        bottom: 20px;
        left: 30px;
        font-size: 1.7em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
}